In [1]:
# 1.Create a 10 variables with your friend names?

In [1]:
name1="prasanna"
name2="swati"
name3="durga"
name4="jayasri"
name5="parvin"
name6="shabana"
name7="santosh"
name8="mouni"
name9="supraja"
name10="supriya"
print("my friends are",name1,name2,name3,name4,name5,name6,name7,name8,name9,name10,sep=',')

my friends are,prasanna,swati,durga,jayasri,parvin,shabana,santosh,mouni,supraja,supriya

In [3]:
# 2. Create a 10 variables with your family member names?

In [4]:
familynames=["sunil","siri","govardan","raja","samba","abi","nani","nikita","devi","chinni"]
print(familynames)

['sunil', 'siri', 'govardan', 'raja', 'samba', 'abi', 'nani', 'nikita', 'devi', 'chinni']

In [5]:
# 3. Create a 10 variables with favorite food names?

In [6]:
foodnames=["chicken","mutton","francebiryani","fishfry","eggfry","lemonrice","curdrice","ladyfingers","potato","chickenbiryani"]
print(foodnames)

['chicken', 'mutton', 'francebiryani', 'fishfry', 'eggfry', 'lemonrice', 'curdrice', 'ladyfingers', 'potato', 'chickenbiryani']

In [7]:
# 4. Create a 10 variables with colour  names?

In [8]:
colournames=["pink","blue","red","green","yellow","white","black","orange","grey","purple"]
print(colournames)

['pink', 'blue', 'red', 'green', 'yellow', 'white', 'black', 'orange', 'grey', 'purple']

In [9]:
# 5. Create a 12 variables with month  names?

In [10]:
monthnames=["january","february","march","april","may","june","july","august","september","october","november","december"]
print(monthnames)

['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']

In [11]:
# 6. Create a 10 variables with game  names?

In [12]:
gamenames=['cricket','hockey','kabaddi','chess','caromboard','vallyball','coco','loodo','tennis','ragbi']
print(gamenames)

['cricket', 'hockey', 'kabaddi', 'chess', 'caromboard', 'vallyball', 'coco', 'loodo', 'tennis', 'ragbi']

In [13]:
# 7. Create a 10 variables with city  names?

In [14]:
citynames=['vijayawada','mtm','guntur','vizag','hyd','hjunction','tirupati','kammam','ongole','karnataka']
print(citynames)

['vijayawada', 'mtm', 'guntur', 'vizag', 'hyd', 'hjunction', 'tirupati', 'kammam', 'ongole', 'karnataka']

In [15]:
# 8. Create a list (friend_names) with your friend names (10 names)?

In [16]:
lst=["prasanna","swati","durga","jayasri","parvin","shabana","santosh","mouni","supraja","supriya"]
print(lst)

['prasanna', 'swati', 'durga', 'jayasri', 'parvin', 'shabana', 'santosh', 'mouni', 'supraja', 'supriya']

In [17]:
# 9. Create a tuple (family_members) with your family members?

In [41]:
tuple1=("sunil","siri","govardan","raja","samba","abi","nani","nikita","devi","chinni")
print(tuple1)

('sunil', 'siri', 'govardan', 'raja', 'samba', 'abi', 'nani', 'nikita', 'devi', 'chinni')

In [19]:
# 10. Create a set (colours) with colour names(10 names)?

In [34]:
set1={"pink","blue","red","green","yellow","white","black","orange","grey","purple"}
print(set1)

{'purple', 'white', 'blue', 'orange', 'yellow', 'red', 'grey', 'green', 'pink', 'black'}

In [21]:
# 11. month_names=[1,9,10,5,3,2,7,8,6,4] , sort the list--> write a program?
# expected output: month_names=[1,2,3,4,5,6,7,8,9,10]

In [22]:
month_names={1,9,10,5,3,2,7,8,6,4}
print(month_names)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [23]:
# 12. tollywood_heros=["chiru", "balaya", "nag","venky","powerstar","superstar","ntr","ramcharan"], write a program?
# expected output:tollywood_heros=["chiranjeevi", "balakrishan", "nagarjuna","venky","pawan kalyan","maheshbabu","NT rama rao","ramcharan"]

In [24]:
tollywood_heros=["chiru", "balaya", "nag","venky","powerstar","superstar","ntr","ramcharan"]

In [25]:
tollywood_heros[0]="chiranjeevi"
tollywood_heros[1]="balakrishna"
tollywood_heros[2]="nagarjuna"
tollywood_heros[3]="venky"
tollywood_heros[4]="pawankalyan"
tollywood_heros[5]="maheshbabu"
tollywood_heros[6]="Nt rama rao"
tollywood_heros[7]="ramcharan"
print(tollywood_heros)

['chiranjeevi', 'balakrishna', 'nagarjuna', 'venky', 'pawankalyan', 'maheshbabu', 'Nt rama rao', 'ramcharan']

In [26]:
# 13. bollywood_heros=["sharukkhan", "salmankhan", "salmankhan","amirkhan","HrithikRoshan","Amitabh Bachchan","Akshay Kumar","amirkhan"], write a program to remove duplicates?

In [27]:
 bollywood_heros={"sharukkhan", "salmankhan", "salmankhan","amirkhan","HrithikRoshan","Amitabh Bachchan","Akshay Kumar","amirkhan"}

In [28]:
print(bollywood_heros)

{'sharukkhan', 'Akshay Kumar', 'amirkhan', 'salmankhan', 'Amitabh Bachchan', 'HrithikRoshan'}

In [29]:
# 14. breakfast_items=["upma","dosa","idly","puri","punugulu","roti","chapathi", "parota","mysoor baji","minapa baji"], print your favorite breakfast itme?
# example: My Favorite breakfast time is mysoor baji

In [30]:
 breakfast_items=["upma","dosa","idly","puri","punugulu","roti","chapathi", "parota","mysoor baji","minapa baji"]
print ("My Favorite breakfast time is",breakfast_items[-2])

My Favorite breakfast time is mysoor baji

In [50]:
month_names1={1,9,10,5,3,2,7,8,6,4}
seq_set=set(month_names1)
print(seq_set)

TypeError: 'set' object is not callable